<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Лабораторная №2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'главная', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'единицы техники', technics_units_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'сотрудники', employees_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'документы о сдаче в ремонт', technics_repair_documents_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'документы о перемещении техники', transfer_documents_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <% @units.each do |unit| %>
    <% if unit.transfer_documents.first.finish_date.present? %>
      <h1><%= unit.name %> <%= unit.model %></h1>
      <table class="table table-borderless bg-light">
        <thead>
          <tr class="table-warning">
            <th scope="col">подразделение</th>
            <th scope="col">время нахождения</th>
          </tr>
        </thead>
        <tbody>
          <% unit.transfer_documents.each do |doc| %>
            <tr>
              <td><%= doc.subdivision %></td>
              <td>с <%= doc.start_date.strftime('%D') %> по <%= doc.finish_date&.strftime('%D') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>
