<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Лабораторная №2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'главная', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'единицы техники', technics_units_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'сотрудники', employees_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'документы о сдаче в ремонт', technics_repair_documents_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'документы о перемещении техники', transfer_documents_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-left: -10px;">
  <table class="table table-borderless bg-light">
    <thead>
      <tr class="table-success">
        <th scope="col">дата сдачи</th>
        <th scope="col">тип ремонта</th>
        <th scope="col">срок ремонта</th>
        <th scope="col">ФИО сотрудника, сдавшего технику</th>
        <th scope="col">номер сотрудника, сдавшего технику</th>
        <th scope="col">ФИО сотрудника, принявшего технику</th>
        <th scope="col">номер сотрудника, принявшего технику</th>
        <th scope="col">ФИО сотрудника, выполняющего ремонт</th>
        <th scope="col">номер сотрудника, выполняющего ремонт</th>
        <th scope="col">должность сотрудника, выполняющего ремонт</th>
        <th scope="col">перечень частей</th>
        <th scope="col">дата получения частей</th>
        <th scope="col">стоимость</th>
      </thead>
      <tbody>
        <% @repair_documents.each do |doc| %>
          <tr>
            <td><%= doc.start_date.strftime('%D') %></td>
            <td><%= doc.repair_type %></td>
            <td><%= doc.term %></td>
            <td><%= doc.client.last_name %> <%= doc.client.name %> <%= doc.client.middle_name %></td>
            <td><%= doc.client.id %></td>
            <td><%= doc.receiver.last_name %> <%= doc.receiver.name %> <%= doc.receiver.middle_name %></td>
            <td><%= doc.receiver.id %></td>
            <td><%= doc.repair_man.last_name %> <%= doc.repair_man.name %> <%= doc.repair_man.middle_name %></td>
            <td><%= doc.repair_man.id %></td>
            <td><%= doc.repair_man.position %></td>
            <td><%= doc.invoice.names.join(',') %></td>
            <td><%= doc.invoice.reception_date.strftime('%D') %></td>
            <td><%= doc.invoice.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
