<h1>Сдать технику в ремонт</h1>

<h1><%=flash[:errors]%></h1>

<%= form_with scope: :repair_document, url: technics_repair_documents_path, local: true do |form| %>
  <p>
    <%= form.label 'Начало ремонта' %><br>
    <%= form.date_field :start_date %>
  </p>

  <p>
    <%= form.label 'Тип ремонта' %><br>
    <%= form.text_field :type %>
  </p>

  <p>
    <%= form.label 'Срок ремонта (в днях)' %><br>
    <%= form.text_field :term %>
  </p>

  <p>
    <%= form.label 'Номер сотрудника, сдавшего технику в ремонт' %><br>
    <%= form.text_field :client_id %>
  </p>

  <p>
    <%= form.label 'Номер сотрудника, который принял технику в ремонт' %><br>
    <%= form.text_field :receiver_id %>
  </p>


  <p>
    <%= form.label 'Номер сотрудника, выполняющего ремонт' %><br>
    <%= form.text_field :repair_man_id %>
  </p>

  <p>
    <%= form.submit 'Сдать в ремонт' %>
  </p>

  добавить хидден филд и передавать туда айди единицы техники
<% end %>
