<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Лабораторная №2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'главная', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'единицы техники', technics_units_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'сотрудники', employees_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'документы о сдаче в ремонт', technics_repair_documents_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'документы о перемещении техники', transfer_documents_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div>
    <%= form_with scope: :search, url: count_units_path, :method => 'get', local: true do |f| %>
      <table class="table table-borderless">
        <tr>
          <td><%= f.label 'Подразделение' %>:</td>
          <td><%= f.text_field :subdivision %></td>
        </tr>
        <tr>
          <td><%= f.label 'Год' %>:</td>
          <td><%= f.text_field :year %></td>
        </tr>
        <tr>
          <td><%= f.submit "Поиск", :name => nil, class: "btn btn-primary" %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <% if params[:search].present? %>
    <table class="table table-borderless bg-light">
      <thead>
        <tr class="table-primary">
          <th scope="col">название</th>
          <th scope="col">количество</th>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |units, count| %>
          <tr>
            <td><%= units %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
