<h1>Изменение единицы техники</h1>

<h1><%=flash[:errors]%></h1>

<%= form_with(model: @unit, local: true) do |form| %>
  <p>
    <%= form.label 'Имя' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label 'Модель' %><br>
    <%= form.text_field :model %>
  </p>

  <p>
    <%= form.label 'Год производства' %><br>
    <%= form.text_field :production_year %>
  </p>

  <p>
    <%= form.label 'Подразделение' %><br>
    <%= form.text_field :subdivision %>
  </p>

  <p>
    <%= form.submit 'Изменить' %>
  </p>
<% end %>
